
*.db
mods/deathmatch/resources/[needed]/NGLogs/logs/action/2021-09-15.txt
*.txt
mods/deathmatch/databases/system/stats.db
mods/deathmatch/databases/system/stats.db
mods/deathmatch/databases/system/stats.db
mods/deathmatch/databases/system/stats.db
*.log
mods/deathmatch/databases/system/stats.db
